#content {
    flex-direction: column;
    min-height: 120vh; /* Минимальная высота - 100% экрана */
    flex: 1; /* Главный блок занимает всё свободное пространство */
    justify-content: center;

}
