.footer {
    background-color: #333333; /* Темный фон для футера */
    color: #FFFFFF; /* Белый цвет текста */
    text-align: center; /* Центрирование текста */
    padding: 5px 0; /* Отступы сверху и снизу */
}
